<!DOCTYPE html>
<html>
<head>
<style type="text/css">
.tab { margin-left: 220px; }
</style>
        <script type = "text/javascript" src = "/static/js/jquery.js"></script>
        <script type = "text/javascript" src = "/static/js/flot/jquery.flot.js"></script>
        <script type = "text/javascript" src = "/static/js/flot/jquery.flot.time.js"></script>
        <script type = "text/javascript" src = "/static/js/flot/date.js"></script>
        <script type = "text/javascript" src = "/static/js/flot/jquery.flot.categories.js"></script>
<p class="tab"><font size=28 color="red">- Users Level - </font></p>
        {{chart.as_html}}
</head>
<body>

</body>
</html> 